<section class="container">
    <div class="content-text">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga ea temporibus</h1>
        <span class="line"></span>
        <div class="p-container">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi natus dolor doloremque modi, est tempore
                amet consectetur adipisicing elit. Animi natus dolor doloremque modi, est tempore</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam eaque cumque voluptas amet consectetur
                adipisicing elit. Animi natus dolor doloremque modi, est tempore</p>
        </div>
    </div>
    <div class="freeebook-container">
        <div class="content-container">
            <div class="card-container">
                <div class="img-text-container">
                    <div class="image"></div>
                    <div class="text-container">
                        <p class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet
                            consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="img-text-container">
                    <div class="image"></div>
                    <div class="text-container">
                        <p class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet
                            consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="img-text-container">
                    <div class="image"></div>
                    <div class="text-container">
                        <p class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet
                            consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>

            <div class="img-book">
                <div class="img"></div>
            </div>
        </div>
    </div>
</section>