<section class="container">

    <div class="logo-container">
        <div class="logo"></div>
    </div>

    <div class="content-container">
        <div class="text-container">
            <p class="title">Lorem ipsum dolor sit amet, consectetur </p>
            <ul class="ul-container">
                <span class="title">Lorem ipsum dolor sit</span>
                <li class="sub-title">Lorem ipsum dolor sit</li>
                <li class="sub-title">Lorem ipsum dolor sit</li>
                <li class="sub-title">Lorem ipsum dolor sit</li>
                <p class="footer">Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur </p>
            </ul>
            
        </div>
        <div class="form-container">
            <div class="title-container">
                <p class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
            </div>
            <div class="form">
                <input type="text">
                <input type="text">
                <input type="text">
                <input type="text">
                <input type="text">
                <select name="" id=""></select>
                <input class="last" type="text" name="" id="">
                <div class="container-button">
                    <button>dowload</button>
                </div>
            </div>

            
        </div>
    </div>

</section>